USE [master]
GO
/****** Object:  Database [QL_PHONG_KHAM]    Script Date: 5/5/2026 4:04:37 PM ******/
CREATE DATABASE [QL_PHONG_KHAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_PHONG_KHAM', FILENAME = N'D:\3 Software Stuff\IT learning Tools\SQL Server Developer\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_PHONG_KHAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_PHONG_KHAM_log', FILENAME = N'D:\3 Software Stuff\IT learning Tools\SQL Server Developer\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_PHONG_KHAM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_PHONG_KHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_PHONG_KHAM]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MA_BENHNHAN] [nchar](5) NOT NULL,
	[TEN_BENHNHAN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_BENHNHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_DONTHUOC]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_DONTHUOC](
	[MA_DONTHUOC] [nchar](6) NOT NULL,
	[MA_THUOC] [nchar](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIA_LUC_BAN] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DONTHUOC] ASC,
	[MA_THUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENKHOA]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENKHOA](
	[MaCK] [varchar](15) NOT NULL,
	[TenCHUYENKHOA] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MA_DICHVU] [nchar](5) NOT NULL,
	[TEN_DICHVU] [nvarchar](100) NULL,
	[GIA_DV] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONTHUOC]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONTHUOC](
	[MA_DONTHUOC] [nchar](6) NOT NULL,
	[MA_PHIEUKHAM] [nchar](6) NULL,
	[MANV_KE] [varchar](15) NULL,
	[MANV_XUAT] [varchar](15) NULL,
	[TRANGTHAI] [nvarchar](30) NULL,
	[NGAYXUAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DONTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MA_HOADON] [nchar](6) NOT NULL,
	[MA_PHIEUKHAM] [nchar](6) NULL,
	[MANV] [varchar](15) NULL,
	[TONGTIEN] [money] NULL,
	[TRANGTHAI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](15) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[MaCK] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUKHAM]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKHAM](
	[MA_PHIEUKHAM] [nchar](6) NOT NULL,
	[MA_BENHNHAN] [nchar](5) NULL,
	[MANV] [varchar](15) NULL,
	[NGAYKHAM] [datetime] NULL,
	[TRANGTHAI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_PHIEUKHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUKHAM_DICHVU]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKHAM_DICHVU](
	[MA_PHIEUKHAM] [nchar](6) NOT NULL,
	[MA_DICHVU] [nchar](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIA_LUC_DUNG] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_PHIEUKHAM] ASC,
	[MA_DICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MaQuyen] [varchar](10) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[MaNV] [varchar](15) NULL,
	[MaQuyen] [varchar](10) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 5/5/2026 4:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MA_THUOC] [nchar](5) NOT NULL,
	[TEN_THUOC] [nvarchar](100) NULL,
	[GIA_BAN] [money] NOT NULL,
	[SOLUONG_TON] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_THUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BENHNHAN] ([MA_BENHNHAN], [TEN_BENHNHAN], [NGAYSINH], [GIOITINH]) VALUES (N'BN001', N'Nguyễn Văn An', CAST(N'1990-05-15' AS Date), N'Nam')
INSERT [dbo].[BENHNHAN] ([MA_BENHNHAN], [TEN_BENHNHAN], [NGAYSINH], [GIOITINH]) VALUES (N'BN002', N'Trần Thị Bình', CAST(N'1985-10-20' AS Date), N'Nữ')
INSERT [dbo].[BENHNHAN] ([MA_BENHNHAN], [TEN_BENHNHAN], [NGAYSINH], [GIOITINH]) VALUES (N'BN003', N'Lê Quốc Cường', CAST(N'2000-01-01' AS Date), N'Nam')
GO
INSERT [dbo].[CHUYENKHOA] ([MaCK], [TenCHUYENKHOA]) VALUES (N'CK001', N'Nội tổng quát')
INSERT [dbo].[CHUYENKHOA] ([MaCK], [TenCHUYENKHOA]) VALUES (N'CK002', N'Nhi khoa')
INSERT [dbo].[CHUYENKHOA] ([MaCK], [TenCHUYENKHOA]) VALUES (N'CK003', N'Tim mạch')
GO
INSERT [dbo].[DICHVU] ([MA_DICHVU], [TEN_DICHVU], [GIA_DV]) VALUES (N'DV001', N'Khám bệnh thông thường', 100000.0000)
INSERT [dbo].[DICHVU] ([MA_DICHVU], [TEN_DICHVU], [GIA_DV]) VALUES (N'DV002', N'Siêu âm tổng quát', 300000.0000)
INSERT [dbo].[DICHVU] ([MA_DICHVU], [TEN_DICHVU], [GIA_DV]) VALUES (N'DV003', N'Xét nghiệm máu', 250000.0000)
GO
INSERT [dbo].[DONTHUOC] ([MA_DONTHUOC], [MA_PHIEUKHAM], [MANV_KE], [MANV_XUAT], [TRANGTHAI], [NGAYXUAT]) VALUES (N'DT0001', N'PK0001', N'NV001', N'NV003', N'Đã xuất', CAST(N'2026-05-02T22:14:19.087' AS DateTime))
INSERT [dbo].[DONTHUOC] ([MA_DONTHUOC], [MA_PHIEUKHAM], [MANV_KE], [MANV_XUAT], [TRANGTHAI], [NGAYXUAT]) VALUES (N'DT002 ', N'PK0001', N'NV002', NULL, N'Chờ xuất', NULL)
GO
INSERT [dbo].[HOADON] ([MA_HOADON], [MA_PHIEUKHAM], [MANV], [TONGTIEN], [TRANGTHAI]) VALUES (N'HD0001', N'PK0001', N'NV005', 400000.0000, N'Đã thanh toán')
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [ChucVu], [MaCK]) VALUES (N'NV001', N'Nguyễn Văn Minh', N'Bác sĩ', N'CK001')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [ChucVu], [MaCK]) VALUES (N'NV002', N'Trần Thị Hoa', N'Bác sĩ', N'CK002')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [ChucVu], [MaCK]) VALUES (N'NV003', N'Lê Thị Thu', N'Dược sĩ', NULL)
GO
INSERT [dbo].[PHIEUKHAM] ([MA_PHIEUKHAM], [MA_BENHNHAN], [MANV], [NGAYKHAM], [TRANGTHAI]) VALUES (N'PK0001', N'BN001', N'NV001', CAST(N'2026-05-02T22:14:19.040' AS DateTime), N'Đã hoàn thành')
GO
INSERT [dbo].[PHIEUKHAM_DICHVU] ([MA_PHIEUKHAM], [MA_DICHVU], [SOLUONG], [GIA_LUC_DUNG]) VALUES (N'PK0001', N'DV001', 1, 100000.0000)
INSERT [dbo].[PHIEUKHAM_DICHVU] ([MA_PHIEUKHAM], [MA_DICHVU], [SOLUONG], [GIA_LUC_DUNG]) VALUES (N'PK0001', N'DV002', 1, 300000.0000)
GO
INSERT [dbo].[QUYEN] ([MaQuyen], [TenQuyen]) VALUES (N'ADM', N'Admin')
INSERT [dbo].[QUYEN] ([MaQuyen], [TenQuyen]) VALUES (N'USR', N'User')
GO
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [MaNV], [MaQuyen], [TrangThai]) VALUES (N'admin', N'123', N'NV001', N'ADM', N'Hoạt động')
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [MaNV], [MaQuyen], [TrangThai]) VALUES (N'duocsi1', N'123', N'NV003', N'USR', N'Hoạt động')
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [MaNV], [MaQuyen], [TrangThai]) VALUES (N'letan1', N'123', N'NV004', N'USR', N'Hoạt động')
GO
INSERT [dbo].[THUOC] ([MA_THUOC], [TEN_THUOC], [GIA_BAN], [SOLUONG_TON]) VALUES (N'T0001', N'Paracetamol 500mg', 2000.0000, 490)
INSERT [dbo].[THUOC] ([MA_THUOC], [TEN_THUOC], [GIA_BAN], [SOLUONG_TON]) VALUES (N'T0002', N'Amoxicillin 500mg', 5000.0000, 295)
INSERT [dbo].[THUOC] ([MA_THUOC], [TEN_THUOC], [GIA_BAN], [SOLUONG_TON]) VALUES (N'T0003', N'Vitamin C 1000mg', 1500.0000, 1000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TAIKHOAN__2725D70B4A913E5A]    Script Date: 5/5/2026 4:04:38 PM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONTHUOC] ADD  DEFAULT (N'Chờ xuất') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'Chưa thanh toán') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEUKHAM] ADD  DEFAULT (getdate()) FOR [NGAYKHAM]
GO
ALTER TABLE [dbo].[PHIEUKHAM] ADD  DEFAULT (N'Đang khám') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEUKHAM_DICHVU] ADD  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[THUOC] ADD  DEFAULT ((0)) FOR [SOLUONG_TON]
GO
ALTER TABLE [dbo].[CHITIET_DONTHUOC]  WITH CHECK ADD FOREIGN KEY([MA_DONTHUOC])
REFERENCES [dbo].[DONTHUOC] ([MA_DONTHUOC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIET_DONTHUOC]  WITH CHECK ADD FOREIGN KEY([MA_THUOC])
REFERENCES [dbo].[THUOC] ([MA_THUOC])
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD FOREIGN KEY([MA_PHIEUKHAM])
REFERENCES [dbo].[PHIEUKHAM] ([MA_PHIEUKHAM])
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD FOREIGN KEY([MANV_KE])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD FOREIGN KEY([MANV_XUAT])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MA_PHIEUKHAM])
REFERENCES [dbo].[PHIEUKHAM] ([MA_PHIEUKHAM])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_CK] FOREIGN KEY([MaCK])
REFERENCES [dbo].[CHUYENKHOA] ([MaCK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_CK]
GO
ALTER TABLE [dbo].[PHIEUKHAM]  WITH CHECK ADD FOREIGN KEY([MA_BENHNHAN])
REFERENCES [dbo].[BENHNHAN] ([MA_BENHNHAN])
GO
ALTER TABLE [dbo].[PHIEUKHAM]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUKHAM_DICHVU]  WITH CHECK ADD FOREIGN KEY([MA_DICHVU])
REFERENCES [dbo].[DICHVU] ([MA_DICHVU])
GO
ALTER TABLE [dbo].[PHIEUKHAM_DICHVU]  WITH CHECK ADD FOREIGN KEY([MA_PHIEUKHAM])
REFERENCES [dbo].[PHIEUKHAM] ([MA_PHIEUKHAM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_NV]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_QUYEN] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[QUYEN] ([MaQuyen])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_QUYEN]
GO
ALTER TABLE [dbo].[CHITIET_DONTHUOC]  WITH CHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Đã huỷ' OR [TRANGTHAI]=N'Đã xuất' OR [TRANGTHAI]=N'Chờ xuất'))
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [CK_XUAT_THUOC] CHECK  (([TRANGTHAI]<>N'Đã xuất' OR [MANV_XUAT] IS NOT NULL AND [NGAYXUAT] IS NOT NULL))
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [CK_XUAT_THUOC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([ChucVu]=N'Thu ngân' OR [ChucVu]=N'Lễ tân' OR [ChucVu]=N'Dược sĩ' OR [ChucVu]=N'Bác sĩ'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_BACSI] CHECK  (([ChucVu]<>N'Bác sĩ' OR [MaCK] IS NOT NULL))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_BACSI]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD CHECK  (([SOLUONG_TON]>=(0)))
GO
USE [master]
GO
